@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About us";
}

<h2>About us</h2>

<p>
    @AppState["websiteTitle"] is a company that strives for perfection and enthousiasm. We try our best to make others highly enthousiastic about drones
    and robots. This includes educational and private useage of these fascinating objects.<br />
    <br />
    What we noticed in the technology industry, when we were just a start-up company is that there weren't any available website's to find information
    about these products. We couldn't find any website advising the end-user what to pick, what components it had, what code it is written and it even more!<br />
    <br />
    We wanted to fill this gap to make sure we CAN help the end-user pick the best product that fits them. We want to the user to be happy with their purchase.<br />
    <br />
    If there are any uncertainties, suggestions or even have advice for our website or us. Please don't be shy and make sure to visit the <a href="~/About.cshtml">contact page</a>. <br />
    <br />
    We would like to thank you for your on going support and hopefully we could help even more people than we did last year!<br />
    <br />
    <i>- Team @AppState["websiteTitle"]</i>
</p>
