@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<h2>Contact</h2>

<div class="row">
    <div class="col-sm">
        <div class="window">
            It's important to fill in this form correctly.<br><br>

            <div class="alert alert-warning" role="alert" style="display:none">
                There is still some information missing. Please fill these in correctly!
            </div>

            <div id="alert alert-success" role="alert" style="display:none">
            </div>
            <form action="#" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstname4">First name</label>
                        <input type="text" class="form-control" name="firstName" tabindex="1" value="" placeholder="Voornaam" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastname4">Last name</label>
                        <input type="text" class="form-control" name="lastName" tabindex="2" value="" placeholder="Achternaam" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail4">E-mail adres</label>
                    <input type="email" class="form-control" name="email" tabindex="3" value="" placeholder="E-mail adres" required>
                </div>
                <div class="form-group">
                    <label for="inputPhoneNumber4">Phone number</label>
                    <input type="tel" class="form-control" name="phone" tabindex="4" value="" placeholder="06-12345678 / (058)-874234" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your question or suggestion</label>
                    <textarea class="form-control" name="message" tabindex="5" value="" rows="5" required></textarea>
                </div>
                <button type="submit" name="submit" class="btn btn-primary">Verstuur gegevens</button>
            </form>
        </div>
    </div>
</div>

<head>

    <style>

        h2 {
            margin-top: 75px;
        }

        p {
            max-width: 250px;
            margin-top: 10px;
        }
    </style>
</head>

<h1>spam</h1>
<h2>Contact</h2>
<p>
    
    <ul style="list-style-type:none">
        <li>E-mail: contact@cyberdyne.com</li>
        <li>Telefoon: 058-85473215</li>
    </ul>
</p>

<h2>Adres</h2>
<p>
   Mail and packages
    <ul style="list-style-type:none">
        <li>Rengerslaan 10</li>
        <li>8917 DD, Leeuwarden</li>
    </ul>
</p>