@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<h1 class="cover-heading">@Page.Title</h1>
<p class="lead">Register now at WeddingGifts.com to start adding gifts to your dream wedding!</p>

check check
