@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Products";
}

@section Banner 
{
<div class="banner">
    <div class="banner-background-img"></div>
    <h3 class="test">Drones / Robots</h3>
    <h1 class="test2">Subtitle</h1>
</div>
}
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-6">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>