body {
    font-family: 'Roboto', sans-serif;
}

/* original solution by https://codepen.io/Rowno/pen/Afykb */

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

.carousel-fade .carousel-control {
    z-index: 2;
}


/* carousel fullscreen */

.carousel-fullscreen .carousel-inner .item {
    height: 65vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .carousel-caption {
    top: 80%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/* overlay for better readibility of the caption  */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}


/* demo typography */

h1, h2, h3, h4 {
    font-weight: 700;
}

.super-heading {
    font-size: 43px;
}


.super-paragraph {
    font-size: 20px;
    font-weight: 300;
}

.carousel-caption .super-paragraph a,
.carousel-caption .super-paragraph a:hover {
    color: #fff;
}

#carousel-example-generic {
    margin: 40px 0;
}

.demo-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-indicators li {
    width: 24px !important;
}


.header-extra {
    height: 80px;
    padding-top: 14px;
    min-height: 78px;
}

.carousel-caption {
    display: block;
    text-align: left;
    padding-left: 310px;
    padding-right: 600px;
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}

.page-header-carousel {
    margin: 61px 0 20px;
}

body > .container {
    padding: 93px 24px 25px !important;
}

.info {
    display: inline-block;
}

.button-carousel-info {
    display: inline-block;
    position: absolute;
    margin-left: 130px;
    margin-top: 48px;
    text-align: right;
}

.button-carousel-info-obj {
    width: 300px;
    height: 100px;
}

.btn-lg {
    font-size: 29px !important;
    border-radius: 35px;
}

.btn-primary {
    background-color: #a70002;
    border-color: #820002;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #800203;
    border-color: #730102;
}

.btn-primary:active:focus {
    color: #ffffff;
    background-color: #a70002;
    border-color: #820002;
}

.content-links {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

    .parent:hover .child:before, .parent:focus .child:before {
        display: block;
    }

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(213, 0, 2, 0.3);
}

.right {
    float: right !important;
}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 70px;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {
    background-image: url('/Images/drone-over-beach.jpg');
}

.bg-two {
    background-image: url('/Images/Image-1l-NASA.jpg');
}

.banner {
    position: relative;
    padding: 80px 0px 0px !important;
    width: 100%;
    height: 500px;
    background-color: black;
}

.banner-background-img {
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url('/Images/2796951-drone-wallpapers.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.test {
    position:absolute;
    top: 100px;
}
.test2 {
    position: absolute;
    top: 200px;
}